@{ 
    CurrentUser user = CurrentUserHelper.Get;
}
@{
    ViewBag.Title = "Home Page";
}

@if (Request.IsAuthenticated)
{
    <div class="" style="width:100%; min-height: 800px;">
        <h1>@Parameters.ProjectName</h1>
        <p>Bienvenido <b>@user.UserName</b>.</p>
    </div>
}


@*@Html.Partial("Course/_Courses")*@

@section scripts {

}
