@model UserBasicInformationViewModel

@{ 
    ViewBag.Title = "Actualizar datos";
}

@using (Html.BeginForm("Update", "Users", FormMethod.Post))
{
    <div class="alert-container"></div>
    @Html.HiddenFor(x => x.Id)
    <div class="form-group">
        <label>Nombre</label>
        @Html.TextBoxFor(x => x.Nombre, new { @class="form-control"})
        <span data-keyboard="Nombre" class="form-validation-failed"></span>
    </div>

    <div class="form-group">
        <label>Apellidos</label>
        @Html.TextBoxFor(x => x.Apellidos, new { @class = "form-control" })
        <span data-keyboard="Apellidos" class="form-validation-failed"></span>
    </div>

    <button data-ajax="true" type="submit" class="btn btn-default">
        Guardar
    </button>

}
