@{
    CurrentUser user = CurrentUserHelper.Get;
}
@if (Request.IsAuthenticated)
{

    <div class="profile clearfix">
        <div class="profile_pic">
            @*<img src="@(ViewBag.Tfoto == "" ? Url.Action("GetImagen", "Account") : ViewBag.Tfoto)" alt="..." class="img-circle profile_img">*@
        </div>
        <div class="profile_info">
            <span>Bienvenido,</span>
            <h2>@user.UserName</h2>
        </div>
    </div>
}
