body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

th{
    background:#777;
    color:#fff;
    text-transform:uppercase;
}

textarea{
    min-height:70px;
}

/***
    Loading    
***/
#modal_loading{
    color:#fff;
    display:none;
    font-size:16px;
    position:fixed;
    text-align:center;
    z-index:2000;
}

    #modal_loading .bks
    {
        background: -moz-linear-gradient(top,  rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.9) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.4)), color-stop(100%,rgba(0,0,0,0.9)));
        background: -webkit-linear-gradient(top,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.9) 100%);
        background: -o-linear-gradient(top,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.9) 100%);
        background: -ms-linear-gradient(top,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.9) 100%);
        background: linear-gradient(to bottom,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.9) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66000000', endColorstr='#e6000000',GradientType=0 );
        bottom: 0;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
    }

#modal_loading .content{
    left:50%;
    margin-left:-150px;
    position:fixed;
    top:45%;
    width:300px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/***
    Paginacion
***/
div.paginacion{
    position:relative;
}

div.paginacion controls{
    position:absolute;
    right:10px;
    top:0;
}

div.paginacion input[type="number"]{
    background:#E7E7E7;
    border-width:0;
    color:#000;
    padding: 2px;
    text-align:center;
    width:50px;
}

div.paginacion input[type="text"]:focus{
    background:#fff;
    border-width:2px;
    color:#000;
}


/***
    Modificaciones para el autocomplete    
***/
.ui-autocomplete {
    max-height:200px;
    overflow:auto;
    z-index: 10000 !important;
}


.ui-menu {
    list-style: none;
    padding: 2px;
    margin: 0;
    display: block;
    float: left;
}

    .ui-menu .ui-menu-item {
        font-size: 12px;
        margin: 0;
        padding: 0;
        zoom: 1;
        float: left;
        clear: left;
        width: 100%;
    }

.ui-menu .ui-menu-item a {
    padding: 0;
}

.ui-menu-item > a.ui-state-hover {
    border-radius: 0;
}

.ui-menu-item > a * {
    display: inline-block;
}

.ui-menu-item img {
    display: inline-block;
    height: 50px;
    margin-right: 5px;
    vertical-align: top;
}


.ui-helper-hidden-accessible{
    display:none;
}